<script>

    $(function () {
        $("#sendBtn").on("click", function (event) {
            var msg = $("#msg").val();
            addToDiscussion("self", msg);
            send(msg);

            $("#msg").val("");
            $("#msg").focus();
        });

    });

    function addToDiscussion(writer, msg) {

        var contents = "<li class='" + writer + "'>"
            + "<div class='message'>"
            + "<p>" + msg + "</p>"
            + "</div></li>";

        $(".discussion").prepend(contents);
    }

</script>


<div>
    <div>
        <label>메세지 데이터</label>
        <div>
            <textarea rows="5" cols="40" id="msg"></textarea>
        </div>
    </div>
    <br>
    <input type="button" id="sendBtn" value="전송">
</div>

<h4 class="ui horizontal divider header">메세지</h4>
<div class="ui segment" id="result">
    <ol class="discussion">
    </ol>
</div>