extends layout

block content
  h1= title
  p Welcome to #{title}

extends layout

block content
  #d0
    #d1
      #d11
        ol#items
    #d2
      #d21
        textarea#msgbox(name="msg", cols="30", rows="10" placeholder="메시지를 입력해주세요.")
      #d22
          input#sendBtn(type="button" value="전송")
          script(src='/javascripts/message.js')
          script.
            document.getElementById('sendBtn').addEventListener('click',function(){
              askBot();
            });